.container {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  &.fluid-width {
    width: 100%;
  }
  &.fluid-height {
    height: 100%;
  }
  &.inline {
    display: inline-block;
    &::after {
      clear: none;
      display: inline-block;
    }
  }
}
