@import '../../scss/variables';

.icon.loading {
  display: inline-block;
  margin-right: 1em;
  border: 2px solid $borderColor;
  border-radius: 50%;
  border-top: 2px solid $primaryColor;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 0.7s linear infinite;

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &.small {
    width: 14px;
    height: 14px;
  }
  &.medium {
    width: 16px;
    height: 16px;
  }
  &.large {
    width: 24px;
    height: 24px;
  }
  &.huge {
    width: 40px;
    height: 40px;
  }
  &.massive {
    width: 72px;
    height: 72px;
  }
}
