$blue1: #e6f7ff;
$blue2: #bae7ff;
$blue3: #91d5ff;
$blue4: #69c0ff;
$blue5: #40a9ff;
$blue6: #1890ff;
$blue7: #096dd9;
$blue8: #0050b3;
$blue9: #003a8c;
$blue10: #002766;

$green: #389e0d;
$red: #cf1322;
$yellow: #fadb14;

$gray1: #ffffff;
$gray2: #fafafa;
$gray4: #f0f0f0;
$gray5: #d9d9d9;
$gray6: #bfbfbf;
$gray7: #8c8c8c;
$gray8: #595959;
$gray9: #434343;
$gray10: #262626;
$gray11: #1f1f1f;
$gray12: #141414;
$gray13: #000000;

$white: white;
$black: black;

//font colors;
$primaryColor: lighten($black, 15%);
$secondaryColor: lighten($black, 55%);
$disableColor: lighten($black, 75%);
$disableBackground: lighten($black, 90%);

$borderColor: lighten($black, 85%);
$defaultBorderRadius: 5px;
$defaultBorderSize: 2px;
$dividerColor: lighten($black, 94%);

$background: lighten(black, 96%);
$tableHeaderColor: lighten(black, 98%);

$linkColor: $blue6;

//status colors
$successColor: $green;
$errorColor: $red;
$warningColor: $yellow;
$infoColor: $blue6;

//spacing
$spacing1: 4px;
$spacing2: 8px;
$spacing3: 16px;
$spacing4: 24px;
$spacing5: 32px;
$spacing6: 48px;
$spacing7: 80px;
$spacing8: 128px;

//font size
$fontSize1: 8px;
$fontSize2: 12px;
$fontSize3: 14px;
$fontSize4: 16px;
$fontSize5: 20px;
$fontSize6: 24px;
$fontSize7: 30px;
$fontSize8: 38px;
$fontSize9: 46px;
$fontSize10: 56px;
$fontSize11: 68px;

//line height
$lineHeight1: 18px;
$lineHeight2: 20px;
$lineHeight3: 22px;
$lineHeight4: 24px;
$lineHeight5: 28px;
$lineHeight6: 32px;
$lineHeight7: 38px;
$lineHeight8: 46px;
$lineHeight9: 54px;
$lineHeight10: 64px;
$lineHeight1: 76px;
$defaultLineHeight: $lineHeight4;
$defaultFontSize: $fontSize4;

$brandColor: $blue7;
$defaultLabelFontSize: $fontSize3;
$defaultLabelLineHeight: $lineHeight3;
$defaultLabelColor: $gray9;

$defaultButtonFontSize: $fontSize4;
$defaultButtonLineHeight: $lineHeight4;
$defaultButtonPadding: 0.6em 2em;
$defaultButtonRadius: 10px;

$maxPhoneWidth: 767px;

$minTabletWidth: 768px;
$maxTabletWidth: 991px;

$minComputerWidth: 992px;
$maxComputerWidth: 1199px;

$minLargeMonitorWidth: 1200px;
$maxLargeMonitorWidth: 1919px;

$minWideMonitorWidth: 1920px;
